

@transparent:       rgba(0, 0, 0, 0);

@color-black:       #000000;
@color-white:       #ffffff;

@color-red:         @color-red-700;
@color-pink:        @color-pink-700;
@color-purple:      @color-purple-700;
@color-indigo:      @color-indigo-700;
@color-blue:        @color-blue-700;
@color-cyan:        @color-cyan-700;
@color-teal:        @color-teal-700;
@color-green:       @color-green-700;
@color-light-green: @color-light-green-700;
@color-yellow:      @color-yellow-700;
@color-orange:      @color-orange-700;
@color-brown:       @color-brown-700;
@color-grey:        @color-grey-700;
@color-blue-grey:   @color-blue-grey-700;

// primary
@color-primary: 'red';

@primary-100: %('color-%s-100', @color-primary);
@primary-200: %('color-%s-200', @color-primary);
@primary-300: %('color-%s-300', @color-primary);
@primary-400: %('color-%s-400', @color-primary);
@primary-500: %('color-%s-500', @color-primary);
@primary-600: %('color-%s-600', @color-primary);
@primary-700: %('color-%s-700', @color-primary);
@primary-800: %('color-%s-800', @color-primary);

@color-primary-100: @@primary-100;
@color-primary-200: @@primary-200;
@color-primary-300: @@primary-300;
@color-primary-400: @@primary-400;
@color-primary-500: @@primary-500;
@color-primary-600: @@primary-600;
@color-primary-700: @@primary-700;
@color-primary-800: @@primary-800;

@gray-base:     @color-blue-grey-800;
@gray-darkest:  @color-blue-grey-700;
@gray-darker:   @color-blue-grey-600;
@gray-dark:     @color-blue-grey-500;
@gray:          @color-blue-grey-400;
@gray-light:    @color-blue-grey-300;
@gray-lighter:  @color-blue-grey-200;
@gray-lightest: @color-blue-grey-100;

@inverse:               @color-white;

@brand-default:         @gray-lighter;
@brand-default-hover:   @gray-lightest;
@brand-default-active:  @gray-light;
@brand-default-100:     @gray-lightest;

@brand-primary:         @color-primary-600;
@brand-primary-hover:   @color-primary-500;
@brand-primary-active:  @color-primary-700;
@brand-primary-400:     @color-primary-400;
@brand-primary-100:     @color-primary-100;

@brand-success:         @color-green-600;
@brand-success-hover:   @color-green-500;
@brand-success-active:  @color-green-700;
@brand-success-400:     @color-green-400;
@brand-success-100:     @color-green-100;

@brand-info:            @color-cyan-600;
@brand-info-hover:      @color-cyan-500;
@brand-info-active:     @color-cyan-700;
@brand-info-400:        @color-cyan-400;
@brand-info-100:        @color-cyan-100;

@brand-warning:         @color-orange-600;
@brand-warning-hover:   @color-orange-500;
@brand-warning-active:  @color-orange-700;
@brand-warning-400:     @color-orange-400;
@brand-warning-100:     @color-orange-100;

@brand-danger:          @color-red-600;
@brand-danger-hover:    @color-red-500;
@brand-danger-active:   @color-red-700;
@brand-danger-400:      @color-red-400;
@brand-danger-100:      @color-red-100;

@brand-dark:            @gray-darker;
@brand-dark-hover:      @gray-dark;
@brand-dark-active:     @gray-darkest;
@brand-dark-100:        @color-blue-100;

@color-tab-focus:       fade(@brand-primary, 60%);

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@title-color:           @gray-darkest;
@subtitle-color:        @gray-darker;
@text-color:            @gray-dark;
@prompt-color:          @gray;

// ** Global status color.
@active-color-base:     @color-primary-700;
@normal-color-base:     @color-primary-600;
@hover-color-base:      @color-primary-500;
@bg-color-base:         @gray-lightest;
@disabled-color-base:   @gray-light;

//** Global textual link color.
@link-color:            @normal-color-base;
@link-hover-color:      @hover-color-base;
@link-active-color:     @active-color-base;

//** Link hover decoration.
@link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-sans-serif:  @use-font-family, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@font-size-icon:          16px;

@font-weight-override:    false;
@font-weight-light:       300;
@font-weight-normal:      400;
@font-weight-medium:      500;
@font-weight-bold:        700;

@font-weight-base:        @font-weight-normal;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.57142857; // 22/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    round((@font-size-base * @line-height-base)); // font-size 14px~22px; 16px~24px;

//** By default, this inherits from the `<body>`.
@headings-font-family:    @font-family-base;
@headings-font-weight:    @font-weight-light;
@headings-line-height:    1.2;
@headings-color:          @title-color;
@headings-text-shadow:    rgba(0, 0, 0, 0.15) 0 0 1px;

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";

@icon-color:              fade(@gray-darkest, 40%);
@icon-hover-color:        fade(@gray-darkest, 60%);
@icon-active-color:       @gray-darkest;

@icon-alt-color:             fade(@gray-darkest, 60%);
@icon-alt-hover-color:       fade(@gray-darkest, 80%);
@icon-alt-active-color:      @gray-darkest;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     6px;
@padding-base-horizontal:   15px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  18px;

@padding-small-vertical:    6px;
@padding-small-horizontal:  13px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;

@border-radius-base:        3px;
@border-radius-large:       4px;
@border-radius-small:       2px;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    @inverse;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @active-color-base;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         5px;

@border-color-base:         @gray-lighter;

@divider-color-base:        @gray-lighter;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               fade(@bg-color-base, 30%);
//** Background color used for `.table-hover`.
@table-bg-hover:                @bg-color-base;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            @border-color-base;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                @font-weight-normal;

@btn-default-color:              @text-color;
@btn-default-bg:                 @brand-default;
@btn-default-border:             @border-color-base;
@btn-default-hover-bg:           @brand-default-hover;
@btn-default-hover-border:       @btn-default-hover-bg;
@btn-default-active-bg:          @brand-default-active;
@btn-default-active-border:      @btn-default-active-bg;

@btn-primary-color:              @inverse;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             @btn-primary-bg;
@btn-primary-hover-bg:           @brand-primary-hover;
@btn-primary-hover-border:       @btn-primary-hover-bg;
@btn-primary-active-bg:          @brand-primary-active;
@btn-primary-active-border:      @btn-primary-active-bg;

@btn-success-color:              @inverse;
@btn-success-bg:                 @brand-success;
@btn-success-border:             @btn-success-bg;
@btn-success-hover-bg:           @brand-success-hover;
@btn-success-hover-border:       @btn-success-hover-bg;
@btn-success-active-bg:          @brand-success-active;
@btn-success-active-border:      @btn-success-active-bg;

@btn-info-color:                 @inverse;
@btn-info-bg:                    @brand-info;
@btn-info-border:                @btn-info-bg;
@btn-info-hover-bg:              @brand-info-hover;
@btn-info-hover-border:          @btn-info-hover-bg;
@btn-info-active-bg:             @brand-info-active;
@btn-info-active-border:         @btn-info-active-bg;

@btn-warning-color:              @inverse;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             @btn-warning-bg;
@btn-warning-hover-bg:           @brand-warning-hover;
@btn-warning-hover-border:       @btn-warning-hover-bg;
@btn-warning-active-bg:          @brand-warning-active;
@btn-warning-active-border:      @btn-warning-active-bg;

@btn-danger-color:               @inverse;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              @btn-danger-bg;
@btn-danger-hover-bg:            @brand-danger-hover;
@btn-danger-hover-border:        @btn-danger-hover-bg;
@btn-danger-active-bg:           @brand-danger-active;
@btn-danger-active-border:       @btn-danger-active-bg;

@btn-dark-color:                 @inverse;
@btn-dark-bg:                    @brand-dark;
@btn-dark-border:                @btn-dark-bg;
@btn-dark-hover-bg:              @brand-dark-hover;
@btn-dark-hover-border:          @btn-dark-hover-bg;
@btn-dark-active-bg:             @brand-dark-active;
@btn-dark-active-border:         @btn-dark-active-bg;

@btn-link-disabled-color:        @gray;

//== Forms
//
//##

//** `<input>` background color
@input-bg:                       @inverse;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-lightest;

//** Text color for `<input>`s
@input-color:                    @text-color;
//** `<input>` border color
@input-border:                   @border-color-base;

// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-small;

//** Border color for inputs on focus
@input-border-focus:             @brand-primary;

//** Placeholder text color
@input-color-placeholder:        @prompt-color;

//** Default `.form-control` height
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       20px;

@legend-color:                   inherit;
@legend-border-color:            transparent;

//** Background color for textual input addons
@input-group-addon-bg:           @gray-lightest;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;

@form-control-default-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
@form-control-focus-box-shadow: @form-control-default-box-shadow, 0 0 8px fade(@input-border-focus, 0.6);
@form-control-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
@dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
@dropdown-border:                @border-color-base;
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       #ccc;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            @divider-color-base;
// @dropdown-fallback-divider:      #f6f7f8;

//** Dropdown link text color.
@dropdown-link-color:            @text-color;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      @text-color;

//** Hover background for dropdown links.
@dropdown-link-hover-bg:         @bg-color-base;

//** Active dropdown menu item text color.
@dropdown-link-active-color:     @text-color;//@component-active-color;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @bg-color-base;//@component-active-bg;

@dropdown-link-padding:          8px 15px;
@dropdown-link-border-radius:    @border-radius-base;

//** Disabled dropdown menu item background color.

@dropdown-link-disabled-color:   @disabled-color-base;

//** Text color for headers within dropdown menus.
@dropdown-header-color:          @title-color;

//** Deprecated `@dropdown-caret-color` as of v3.1.0
@dropdown-caret-color:           @text-color;
@dropdown-menu-shadow:           0 3px 12px rgba(0, 0, 0, 0.05);
@dropup-menu-shadow:             0 -3px 12px rgba(0, 0, 0, 0.05);

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

//@zindex-navbar:            1000;
//@zindex-dropdown:          1000;
//@zindex-popover:           1060;
//@zindex-tooltip:           1070;
//@zindex-navbar-fixed:      1030;
//@zindex-modal-background:  1040;
//@zindex-modal:             1050;

@zindex-fullscreen:       9999;
@zindex-tooltip:          1900;
@zindex-popover:          1800;

@zindex-modal:            1700;
@zindex-modal-background: 1600;
@zindex-navbar-fixed:     1500;
@zindex-menubar:          1400;
@zindex-overlay:          1300;
@zindex-dropdown:         1200;
@zindex-navbar:           1200;
@zindex-header:           1100;
@zindex-footer:           1000;

@zindex-base:             1;
@zindex-init:             0;
@zindex-below:           -1;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// Extra large screen / wide desktop
@screen-xlg-min:              1600px;
@screen-xlg-desktop:          @screen-xlg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
@screen-lg-max:              (@screen-xlg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
@grid-lg-gutter-width:      50px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;

// Extra large screen / wide desktop
@container-extra-large-desktop: (1280px + @grid-gutter-width);
//** For `@screen-xlg-min` and up.
@container-xlg:                 @container-extra-large-desktop;


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    66px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-brand-padding-horizontal:  20px;
@navbar-brand-logo-height:         32px;

@navbar-default-color:                    @text-color;
@navbar-default-bg:                       @color-red-800;
@navbar-default-border:                   @border-color-base;

// Navbar links
@navbar-default-link-color:               @text-color;
@navbar-default-link-hover-color:         @gray-darker;
@navbar-default-link-hover-bg:            fade(@gray-lightest, 30%);
@navbar-default-link-active-color:        @navbar-default-link-hover-color;
@navbar-default-link-active-bg:           fade(@gray-lightest, 60%);
@navbar-default-link-disabled-color:      @disabled-color-base;
@navbar-default-link-disabled-bg:         transparent;

// Navbar brand label
@navbar-default-brand-color:              @title-color;
@navbar-default-brand-hover-color:        @navbar-default-brand-color;
@navbar-default-brand-hover-bg:           none;

// Navbar toggle
@navbar-default-toggle-hover-bg:          @navbar-default-link-hover-bg;
@navbar-default-toggle-icon-bar-bg:       @navbar-default-color;
@navbar-default-toggle-border-color:      transparent;


// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                     @inverse;
@navbar-inverse-bg:                        @brand-primary;
@navbar-inverse-border:                    darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                @inverse;
@navbar-inverse-link-hover-color:          @inverse;
@navbar-inverse-link-hover-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-active-color:         @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:            @navbar-inverse-link-hover-bg;
@navbar-inverse-link-disabled-color:       @inverse;
@navbar-inverse-link-disabled-bg:          transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:               @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:         @inverse;
@navbar-inverse-brand-hover-bg:            none;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:           @navbar-inverse-link-hover-bg;
@navbar-inverse-toggle-icon-bar-bg:        @inverse;
@navbar-inverse-toggle-border-color:       transparent;


//== Navs
//
//##

//=== Shared nav styles
@nav-padding-vertical:                      10px;
@nav-link-padding:                          @nav-padding-vertical 15px;
@nav-link-hover-bg:                         @bg-color-base;

@nav-disabled-link-color:                   @gray;
@nav-disabled-link-hover-color:             @gray;

@nav-open-link-hover-color:                 #fff;

//== Tabs
@nav-tabs-border-color:                     @divider-color-base;

@nav-tabs-link-hover-border-color:          transparent;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @link-active-color;
@nav-tabs-active-link-hover-border-color:   @border-color-base;

@nav-tabs-justified-link-border-color:            @border-color-base;
@nav-tabs-justified-active-link-border-color:     @body-bg;

//== Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @brand-primary;
@nav-pills-active-link-hover-color:         @component-active-color;


//== Pagination
//
//##

@pagination-color:                     @text-color;
@pagination-bg:                        transparent;
@pagination-border:                    @border-color-base;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @bg-color-base;
@pagination-hover-border:              @border-color-base;

@pagination-active-color:              @inverse;
@pagination-active-bg:                 @brand-primary;
@pagination-active-border:             @pagination-active-bg;

@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               transparent;
@pagination-disabled-border:           @border-color-base;


//== Pager
//
//##

@pager-bg:                             @pagination-bg;
@pager-border:                         @border-color-base;
@pager-border-radius:                  3px;

@pager-hover-bg:                       @inverse;

@pager-active-bg:                      @pagination-active-bg;
@pager-active-color:                   @pagination-active-color;

@pager-disabled-color:                 @pagination-disabled-color;


//== Jumbotron
//
//##

@jumbotron-padding:              20px;
@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            ceil((@font-size-base * 1.5));
@jumbotron-heading-font-size:    ceil((@font-size-base * 4.5));


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
@form-success-text:              @brand-success;
@form-info-text:                 @brand-info;
@form-warning-text:              @brand-warning;
@form-danger-text:               @brand-danger;

@form-success-bg:                @inverse;
@form-info-bg:                   @inverse;
@form-warning-bg:                @inverse;
@form-danger-bg:                 @inverse;

@state-success-text:             @inverse;
@state-success-bg:               @brand-success;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                @inverse;
@state-info-bg:                  @brand-info;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             @inverse;
@state-warning-bg:               @brand-warning;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 3%);

@state-danger-text:              @inverse;
@state-danger-bg:                @brand-danger;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 3%);

@state-dark-text:                @inverse;
@state-dark-bg:                  @brand-dark;
@state-dark-border:              darken(spin(@state-dark-bg, -10), 3%);


//== Tooltips
//
//##

//** Tooltip max width
@tooltip-max-width:           200px;
//** Tooltip text color
@tooltip-color:               @inverse;
//** Tooltip background color
@tooltip-bg:                  rgba(0, 0, 0, .8);
@tooltip-opacity:             .9;

//** Tooltip arrow width
@tooltip-arrow-width:         4px;
//** Tooltip arrow color
@tooltip-arrow-color:         @tooltip-bg;


//== Popovers
//
//##

//** Popover body background color
@popover-bg:                          @inverse;
//** Popover maximum width
@popover-max-width:                   276px;
//** Popover border color
@popover-border-color:                fade(@gray-light, 80%);
//** Popover fallback border color
@popover-fallback-border-color:       @gray-lighter;

//** Popover title background color
@popover-title-bg:                    @bg-color-base;

//** Popover arrow width
@popover-arrow-width:                 8px;
//** Popover arrow color
@popover-arrow-color:                 @popover-bg;

//** Popover outer arrow width
@popover-arrow-outer-width:           (@popover-arrow-width + 1);
//** Popover outer arrow color
@popover-arrow-outer-color:           fadein(@popover-border-color, 5%);
//** Popover outer arrow fallback color
@popover-arrow-outer-fallback-color:  darken(@popover-fallback-border-color, 20%);

@popover-shadow:                      0 2px 6px rgba(0, 0, 0, .05);

//== Labels
//
//##

//** Default label background color
@label-default-bg:            @brand-default;
//** Primary label background color
@label-primary-bg:            @brand-primary;
//** Success label background color
@label-success-bg:            @brand-success;
//** Info label background color
@label-info-bg:               @brand-info;
//** Warning label background color
@label-warning-bg:            @brand-warning;
//** Danger label background color
@label-danger-bg:             @brand-danger;
//** Dark label background color
@label-dark-bg:               @brand-dark;

//** Default label text color
@label-color:                 @inverse;
//** Default text color of a linked label
@label-link-hover-color:      @inverse;

@label-font-weight:           @font-weight-medium;

//== Modals
//
//##

//** Padding applied to the modal body
@modal-inner-padding:         15px;

//** Padding applied to the modal title
@modal-title-padding:         15px;
//** Modal title line-height
@modal-title-line-height:     @line-height-base;

//** Background color of modal content area
@modal-content-bg:                             #fff;
//** Modal content border color
@modal-content-border-color:                   transparent;
//** Modal content border color **for IE8**
@modal-content-fallback-border-color:          #999;

//** Modal backdrop background color
@modal-backdrop-bg:           #000;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .5;
//** Modal header border color
@modal-header-border-color:   @border-color-base;
//** Modal footer border color
@modal-footer-border-color:   @modal-header-border-color;

@modal-content-shadow:        0 2px 12px rgba(0, 0, 0, .2);

@modal-lg:                    900px;
@modal-md:                    600px;
@modal-sm:                    300px;


//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               15px;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      @font-weight-bold;

@alert-success-bg:            fade(@brand-success-100, 80%);
@alert-success-text:          @brand-success;
@alert-success-border:        @brand-success-100;

@alert-info-bg:               fade(@brand-info-100, 80%);
@alert-info-text:             @brand-info;
@alert-info-border:           @brand-info-100;

@alert-warning-bg:            fade(@brand-warning-100, 80%);
@alert-warning-text:          @brand-warning;
@alert-warning-border:        @brand-warning-100;

@alert-danger-bg:             fade(@brand-danger-100, 80%);
@alert-danger-text:           @brand-danger;
@alert-danger-border:         @brand-danger-100;


//== Progress bars
//
//##

//** Background color of the whole progress component
@progress-bg:                 @brand-default;
//** Progress bar text color
@progress-bar-color:          #fff;
//** Variable for setting rounded corners on progress bar.
@progress-border-radius:      @border-radius-base;

//** Default progress bar color
@progress-bar-bg:             @brand-primary;
//** Success progress bar color
@progress-bar-success-bg:     @brand-success;
//** Warning progress bar color
@progress-bar-warning-bg:     @brand-warning;
//** Danger progress bar color
@progress-bar-danger-bg:      @brand-danger;
//** Info progress bar color
@progress-bar-info-bg:        @brand-info;


//== List group
//
//##

//** Background color on `.list-group-item`
@list-group-bg:                 #fff;
//** `.list-group-item` border color
@list-group-border:             transparent;
//** List group border radius
@list-group-border-radius:      @border-radius-base;

//** Background color of single list items on hover
@list-group-hover-bg:           @bg-color-base;
//** Text color of active list items
@list-group-active-color:       @brand-primary;
//** Background color of active list items
@list-group-active-bg:          transparent;
//** Border color of active list elements
@list-group-active-border:      @list-group-active-bg;
//** Text color for content within active list items
@list-group-active-text-color:  lighten(@list-group-active-color, 40%);

//** Text color of disabled list items
@list-group-disabled-color:      @disabled-color-base;
//** Background color of disabled list items
@list-group-disabled-bg:         transparent;
//** Text color for content within disabled list items
@list-group-disabled-text-color: @list-group-disabled-color;

@list-group-link-color:          @text-color;
@list-group-link-hover-color:    @text-color;
@list-group-link-heading-color:  @title-color;


//== Panels
//
//##

@panel-bg:                       #fff;
@panel-padding-horizontal:       30px;
@panel-body-padding-vertical:    30px;
@panel-body-padding:             @panel-body-padding-vertical @panel-padding-horizontal;
@panel-heading-padding-vertical: 20px;
@panel-heading-padding:          @panel-heading-padding-vertical @panel-padding-horizontal;
@panel-footer-padding-vertical:  15px;
@panel-footer-padding:           0 @panel-padding-horizontal @panel-footer-padding-vertical;
@panel-border-radius:            @border-radius-large;
@panel-border:                   @border-color-base;

//** Border color for elements within panels
@panel-inner-border:          @border-color-base;
@panel-footer-bg:             transparent;

@panel-default-text:          @text-color;
@panel-default-border:        @border-color-base;
@panel-default-heading-bg:    @brand-default;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;

@panel-shadow:                none;

//== Thumbnails
//
//##

//** Padding around the thumbnail image
@thumbnail-padding:           4px;
//** Thumbnail background color
@thumbnail-bg:                @body-bg;
//** Thumbnail border color
@thumbnail-border:            @border-color-base;
//** Thumbnail border radius
@thumbnail-border-radius:     @border-radius-base;

//** Custom text color for thumbnail captions
@thumbnail-caption-color:     @text-color;
//** Padding around the thumbnail caption
@thumbnail-caption-padding:   9px;


//== Wells
//
//##

@well-bg:                     @gray-lightest;
@well-border:                 @gray-lighter;


//== Badges
//
//##

@badge-color:                 @text-color;
//** Linked badge text color on hover
@badge-link-hover-color:      @gray;
@badge-bg:                    @brand-default;

//** Badge text color in active nav link
@badge-active-color:          @gray-darker;
//** Badge background color in active nav link
@badge-active-bg:             @brand-default;

@badge-font-weight:           @font-weight-medium;
@badge-line-height:           1;
@badge-border-radius:         10px;


//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 10px;
//** Breadcrumb background color
@breadcrumb-bg:                 transparent;
//** Breadcrumb text color
@breadcrumb-color:              @link-color;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:       @text-color;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:          "/";


//== Carousel
//
//##

@carousel-text-shadow:                        0 1px 2px rgba(0, 0, 0, .6);

@carousel-control-color:                      #fff;
@carousel-control-width:                      15%;
@carousel-control-opacity:                    0;
@carousel-control-font-size:                  16px;

@carousel-indicator-active-bg:                #fff;
@carousel-indicator-border-color:             #fff;

@carousel-caption-color:                      #fff;


//== Close
//
//##

@close-font-weight:           @font-weight-bold;
@close-color:                 #000;
@close-text-shadow:           none;


//== Code
//
//##

@code-color:                  mix(@color-primary-800, @text-color, 50%);
@code-bg:                     fade(@color-primary-100, 10%);
@code-border-color:           @color-primary-300;

@kbd-color:                   @inverse;
@kbd-bg:                      @brand-primary;

@pre-bg:                      @inverse;
@pre-color:                   inherit;
@pre-border-color:            mix(@brand-primary, @inverse, 12%);
@pre-scrollable-max-height:   340px;


//== Type
//
//##

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 180px;
//** Text muted color
@text-muted:                  @gray-darker;
//** Abbreviations and acronyms border color
@abbr-border-color:           @gray-lighter;
//** Headings small color
@headings-small-color:        @prompt-color;
//** Blockquote small color
@blockquote-small-color:      @prompt-color;
//** Blockquote font size
@blockquote-font-size:        (@font-size-base * 1.25);
//** Blockquote border color
@blockquote-border-color:     @border-color-base;
//** Page header border color
@page-header-border-color:    @gray-lighter;
//** Width of horizontal description list titles
@dl-horizontal-offset:        @component-offset-horizontal;
//** Horizontal line color.
@hr-border:                   @border-color-base;

//== Shadow
//
//##
// shadow-1
@shadow-1-top:    0 0 1px rgba(0, 0, 0, .2);
@shadow-1-bottom: 0 1px 2px rgba(0, 0, 0, .22);
// shadow-2
@shadow-2-top:    0 0 2px rgba(0, 0, 0, .18);
@shadow-2-bottom: 0 2px 4px rgba(0, 0, 0, .21);
// shadow-3
@shadow-3-top:    0 0 3px rgba(0, 0, 0, .15);
@shadow-3-bottom: 0 3px 6px rgba(0, 0, 0, .2);
// shadow-4
@shadow-4-top:    0 0 5px rgba(0, 0, 0, .12);
@shadow-4-bottom: 0 5px 8px rgba(0, 0, 0, .18);
// shadow-5
@shadow-5-top:    0 0 6px rgba(0, 0, 0, .1);
@shadow-5-bottom: 0 6px 10px rgba(0, 0, 0, .15);

//== avatar
//
//##
@avatar-size:            40px;
@avatar-status-size:     10px;

@avatar-size-sm:         30px;
@avatar-status-size-sm:  8px;

@avatar-size-lg:         50px;
@avatar-status-size-lg:  12px;

@avatar-size-xs:         20px;
@avatar-status-size-xs:  7px;
